
.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controller{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.number{
    margin-left: 10px;
    margin-right: 10px;
}